/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B0B0B;
}

pre {
    text-wrap: auto;
    font-size: large;
}

img {
    max-width: 500px;
}

h1,
h2,
h3,
h4,
a,
ul,
li,
pre,
em {
    color: #A0DFA0;
}

p {
    text-align: justify;
    color:#8FBC8F;
}

.nav {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

/* Specific styles for the second column */
.column-2 {
    flex-basis: 25%;
}

/* Media Queries */
@media (max-width: 768px) {
    img {
        max-width: 100%;
    }
    .column {
        flex-basis: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .column {
        flex-basis: 50%;
    }
}

@media (min-width: 1025px) {
    .column {
        flex-basis: 25%;
    }
}

/* Media Queries */
@media (max-width: 1024px) {
    /* Hide the second column on smaller screens */
    .column-2 {
        display: none;
    }

    /* Other columns take up full width on smaller screens */
    .column {
        flex-basis: 100%;
    }
}
